:root {
    --gradient: linear-gradient(
        45deg,
        #ffb3ba,
        #ffdfba,
        #ffffba,
        #baffc9,
        #bae1ff
    );
    --mainCol: color: #642329;
}

body {
    min-width: 98vw;
    min-height: 100vh;
    background: var(--gradient);
    color: var(--mainCol)
}

section {
    height: 100vh !important;
}